.local-dev::before {
    content: "js off";
    content: attr(data-content);
    position: fixed;
    border: 2.5px solid #ff5733;
    bottom: 0;
    right: 0;
    color: var(--global-font-color);
    padding: 0.5rem;
    z-index: 1000;
    opacity: 0.8;
}

@media screen and (max-width: 37.5rem) { /* 600px */

    .local-dev::before {
        background: #fdc;
    }
}

@media screen and (max-width: 47.9375em) { /* 767px */

    .local-dev::before {
        background: #f99;
    }
}

@media screen and (min-width: 48rem) and (max-width: 60rem) { /* 768px - 960px */

    .local-dev::before {
        background: #cfc;
    }
}

@media screen and (min-width: 48rem) and (max-width: 63.9375rem) { /* 768px - 1023px */

    .local-dev::before {
        background: #fffc;
    }
}

@media screen and (min-width: 64rem) and (max-width: 74.9375rem) { /* 1024px - 1199px */

    .local-dev::before {
        background: #cef;
    }
}

@media screen and (min-width: 75rem) { /* 1200px */

    .local-dev::before {
        background: #ecf;
    }
}
